ged-bdoc-api/src/main/resources/wsdl/map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://xml.apache.org/xml-soap"
	elementFormDefault="qualified"
	targetNamespace="http://xml.apache.org/xml-soap"
	xmlns:tns="http://xml.apache.org/xml-soap"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="mapItem">
		<xsd:sequence>
			<xsd:element name="key" nillable="true"
				type="xsd:anyType" />
			<xsd:element name="value" nillable="true"
				type="xsd:anyType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Map">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="item" type="tns:mapItem" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
